{% block sidebar %}

<style>
        .card{
            box-shadow: 0 16px 48px #E3E7EB;
        }

</style>

<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right ">
<div class="card my-4">
        <h5 class="card-header">Post Something on the Website</h5>
    <div class="card-body">
        <p class="card-text"> This awesome website allows you to add your own articles for others to learn! Join other learners and experts in sharing information and knowledge about Django! </p>
        <a href="\admin\"
           class="btn btn-danger">Add Blog!</a>
    </div>
</div>
</div>

{% endblock sidebar %}